<%@ Page Language="C#" AutoEventWireup="true" CodeFile="link_file.aspx.cs" Inherits="websystem_sap_link_file" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>MAS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <form id="formMaster" runat="server">
        <asp:ScriptManager ID="tsmMaster" runat="server"></asp:ScriptManager>
    </form>
</body>
</html>