body {
    font-family: 'Kanit', 'Tahoma', 'Geneva', 'sans-serif' !important;
    line-height: 21px;
    color: var(--gray-dark);;/*rgba(33, 33, 33, 0.8);*/
}

.layout-boxed {
    background-color: rgb(240, 240, 240);
}

.boxed {
    /* padding-left: 35px;
    padding-right: 35px; */
    width: 1000px;
}

/* flex box */
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.display-flex-left {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: center;
}

.row.display-flex-right {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    justify-content: center;
}

.row.display-flex-bottom > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
/* flex box */

/* masterpage */

.layout-boxed #site-wrapper {
    margin: 0 auto;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#headerbar {
    background: #f68629;
    color: #ffffff;
    padding: 10px 0;
}

.wrapper {
    padding: 0 30px;
}

.custom-info {
    float: left;
}

.txt-top {
    padding: 5px 0 0 0;
    float: left;
}

#site-brand {
    padding: 30px 50px 15px 50px;
}

.brand-info-icon {
    color: var(--orange);
    margin: 0px 10px;
}

.brand-info-text {
    color: var(--gray);
    padding: 0px;
}

.font-percent-75 {
    font-size: 75%;
}

.clear-padding {
    padding: 0px;
}

.clear-pm {
    padding: 0px;
    margin: 0px;
}

#site-nav {
    padding: 0 30px;
    background: #f36a21;
    border-radius: 30px;
}

#site-footer {
    background: #404041;
    padding: 50px 50px 20px 50px;
}

.footer-title {
    color: var(--light);
}

.footer-text {
    color: var(--light);
    font-size: small;
}

.footer-icon {
    padding: 0px;
    text-align: right;
}

.footer-line {
    margin: 5px 0px;
}

.orange-text {
    color: var(--orange);
}

.orange-line {
    border: solid 1.5px var(--orange);
}

.orange-box {
    border: solid 2px var(--orange);
}

/* masterpage */

/* main */

#site-carousel {
    margin-top: 20px;
}

#site-quotation {
    background: #f36a21;
    color: #ffffff;
    padding: 15px 50px 10px 50px;
    border-radius: 30px;
    margin: 20px 0px;
}

#site-feature {
    padding: 50px;
}

.main-square {
    display: table;
    width: 100%;
}

.main-square:hover .square-box {
    opacity: 1;
}

.square-box {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    display: table-cell;
    width: 100%;
    height: 100%;
}

.square-box-inner {
    display: inline-table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(243, 106, 33, 0.5);
    color: #ffffff;
}

.square-box-text {
    display: inline-table;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 20px 0 0 0;
}

#site-adventage {
    padding: 70px 50px;
}

.adventage-icon {
    padding-top: 10px;
    text-align: right;
}

.adventage-title {
    color: var(--gray-dark);
    font-size: initial;
}

.adventage-text {
    padding-top: 10px;
}

.adventage-detail {
    padding-top: 10px;
    font-size: small;
}

/* main */

/* content */

.page-header {
    margin: 30px 0 30px 0;
    /* color: #ffffff;
    background: linear-gradient(rgba(249, 203, 99, 0.9), rgba(249, 203, 99, 0.9)), url("../images/carousel/slide-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; */
}

.page-header-center {
    margin: 30px 0 30px 0;
    text-align: center;
}

.page-title {
    padding: 0 50px;
}

.page-body {
    padding: 0 50px 50px 50px;
}

/* content */

/* about us */

.area-image {
    text-align: center;
    padding: 10px;
}

.about-text {
    padding: 0 0 30px 0;
}

/* about us */

/* facilities */

.facilities-image {
    text-align: center;
    padding: 10px;
}

.facilities-text {
    text-align: center;
    padding: 10px;
    font-size: small;
}

/* facilities */

/* our clients */

.client-logo {
    margin-bottom: 30px;
}

/* our clients */

/* contact us */
.btn-gci-gray {
    background-color: var(--gray);
    color: #ffffff;
    width: 100%;
}

.btn-gci-gray:hover {
    background-color: var(--gray-dark);
    color: #ffffff;
    width: 100%;
}

.box-google-map {
    padding: 30px 0px;
}
/* contact us */

/* media */
@media  screen and (max-width: 600px) {
    .brand-info-icon {
        color: var(--orange);
        margin: 0px 10px;
        width: 25px;
    }

    .adventage-icon {
        padding-top: 10px;
        text-align: center;
        width: 100px;
    }

    .footer-icon {
        padding: 0px;
        text-align: left;
        width: 25px;
    }
}
/* media */